    .sideBarMenuContainer {
        position: absolute;
        top: 55px;
        left: 0;
        height: 100%;
        width: 250px;
        z-index: 5000;
    }
    
    .side-bar-menu-icons {
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        width: 25px;
        height: 25px;
        margin: 2px 10px auto 10px;
        background-size: 72%;
        opacity: 0.7;
    }
    
    nav.sidebar {
        padding-top: 10px;
    }
    
    nav.sidebar a {
        font-size: 16px !important;
        font-weight: 400;
        padding: 10px 15px !important;
        background-color: #f0f0f0 !important;
        height: 50px;
        div {
            padding-top: 6px;
        }
    }
    
    nav.sidebar nav.navbar {
        border: none;
        div.container {
            width: 100% !important;
            padding: 0 0;
        }
    }
    
    nav.sidebar a span {
        margin-right: 15px;
    }
    
    nav.sidebar a:hover,
    nav.sidebar a:focus {
        // color: #000000 !important;
        /*text-decoration: underline;*/
    }
    
    nav.sidebar a:active,
    nav.sidebar a:focus {
        // background-color: #f8f8f8 !important;
        .side-bar-menu-icons {
            opacity: 1;
        }
    }
    
    li.sel a {
        background-color: #ffffff !important;
        .side-bar-menu-icons {
            opacity: 1;
        }
    }
    
    nav.sidebar li {
        border-bottom: none !important;
        // &:first-child {
        //     background-color: #ffffff;
        // }
    }
    
    .navbar-nav {
        float: none;
    }
    
    .container-fluid {
        padding: 0 0;
    }
    
    nav.sidebar :global(.navbar-brand) :global(.glyphicon) {
        margin-right: 0px;
    }
    /*Remove rounded coners*/
    
    nav.sidebar:global(navbar) {
        border-radius: 0px;
    }
    
    nav.sidebar {
        -webkit-transition: margin 200ms ease-out;
        -moz-transition: margin 200ms ease-out;
        -o-transition: margin 200ms ease-out;
        transition: margin 200ms ease-out;
        background-color: #f0f0f0 !important;
        border-color: #f0f0f0 !important;
    }
    /* .....NavBar: Icon only with coloring/layout.....*/
    /*small/medium side display*/
    
    @media ( min-width: 768px) {
        /*Center Brand*/
        nav.sidebar:global(navbar).sidebar>.container :global(.navbar-brand),
         :global(.navbar)>:global(.container-fluid) :global(.navbar-brand) {
            margin-left: 0px;
        }
        /*Center Brand*/
        nav.sidebar :global(.navbar-brand),
        nav.sidebar :global(.navbar-header) {
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }
        /*Center Icons*/
        nav.sidebar a {
            padding-right: 13px;
        }
        /* Colors/style dropdown box*/
        nav.sidebar :global(.navbar-nav) :global(.open) :global(.dropdown-menu) {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        /*allows nav box to use 100% width*/
        nav.sidebar :global(.navbar-collapse),
        nav.sidebar :global(.container-fluid) {
            padding: 0 0px 0 0px;
        }
        /*colors dropdown box text */
         :global(.navbar-inverse) :global(.navbar-nav) :global(.open) :global(.dropdown-menu)>li>a {
            color: #777;
        }
        /*gives sidebar width/height*/
        nav.sidebar {
            width: 250px;
            height: 100%;
            // margin-left: -160px;
            float: left;
            z-index: 8000;
            margin-bottom: 0px;
        }
        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }
        /* Move nav to full on mouse over*/
        nav.sidebar:hover {
            margin-left: 0px;
        }
        /*for hiden things when navbar hidden*/
         :global(.forAnimate) {
            opacity: 0;
        }
    }
    /* .....NavBar: Fully showing nav bar..... */
    
    @media ( min-width: 1330px) {
        /*Show all nav*/
        nav.sidebar {
            margin-left: 0px;
            float: left;
            padding-top: 10px;
        }
        /*Show hidden items on nav*/
        nav.sidebar :global(.forAnimate) {
            opacity: 1;
        }
    }
    
    nav.sidebar :global(.navbar-nav) :global(.open) :global(.dropdown-menu)>li>a:hover,
    nav.sidebar :global(.navbar-nav) :global(.open) :global(.dropdown-menu)>li>a:focus {
        color: #CCC;
        background-color: transparent;
    }
    
    nav:hover :global(.forAnimate) {
        opacity: 1;
    }
    
    section {
        padding-left: 15px;
    }