@import "main";

/******************** Color ************************/

//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
// $test_red value added in main sass.
// after approve color from designer we should change value and color in that
//$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

/*********************Global***********************/

.red-btn {
    background-color: $test_red;
    color: $white;
    font-size: 22px;
    padding: 12px 30px;
    line-height: 1;
    border: 2px solid $test_red;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $test_red;
        background-color: $white;
        border: 2px solid $white;
    }
}

.askme-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    thead {
        tr {
            th {
                background-color: $test_red;
                padding: 10px 0 10px 10px;
                color: #fff;
                font-family: $thin;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 10px 0 10px 10px;
                white-space: normal;
                max-width: 200px;
                background-color: #fff;
                border-top: 1px solid $super_light_gray;
                border-bottom: 1px solid $super_light_gray;
                &:first-child {
                    border-left: 1px solid $super_light_gray;
                }
                &:last-child {
                    border-right: 1px solid $super_light_gray;
                }
            }
        }
    }
}

/////////modal/////////
input[type="file"] {
    display: block;
    right: 0;
    position: absolute;
    top: 36px;
    direction: rtl;
}

.modal-header {
    border: none;
    min-height: initial;
}

.modal-footer {
    border: none;
    min-height: initial;
}

.text-inputs {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}

.text-input-block {
    position: relative;
    margin-bottom: 40px;
    display: inline-block;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

.text-input {
    position: relative;
    z-index: 1;
    padding: 7px 0;
    width: 100%;
    height: 100%;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #000;
    border: none;
    background: none;
}

.text-input-placeholder {
    @include position-scale(absolute, 0, auto, 0, 10);
    z-index: 0;
    display: block;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #000;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    will-change: all;
}

.text-input-placeholder_state_active {
    opacity: 0;
}

.text-input-placeholder_pos_top {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}


/******************* Categories list ********************/

.categories {
    .table-thumb {
        width: 100px;
        height: 50px;
    }
}

.details {
    .thumb {
        padding-left: 7px;
        img {
            width: 50%;
            margin-top: 10px;
        }
    }
}


/********************* Login ***********************/

.signup-login {
    height: 100%;
    background-color: #f0f0f0;
    .header {
        @include position-scale(absolute, auto, 0, auto, auto);
        background: transparent;
        border: none;
    }
    .fill-height {
        height: 100%;
        .container {
            @include viewport(small) {
                display: flex;
                justify-content: center;
            }
        }
    }
    .lg-form {
        width: 400px;
        .login-title {
            font-size: 24px;
            font-family: $bolder;
            padding: 5px 35px 5px 0;
            color: $gray;
        }
        .login-form {
            display: inline-block;
            margin-top: 30px;
            .red-btn {
                width: 100%;
                margin: 20px 0;
            }
            .forgot-pass {
                color: $test_red;
                margin-top: 15px;
            }
        }
    }
}

.input-login {
    width: 100%;
    padding: 15px;
    margin: 7px 0;
}

.login-label-input {
    text-transform: uppercase;
    color: $light_gray;
    font-family: $thin;
}


/*********************Dashboard*********************/

.dashboard {
    // table{
    //     border-collapse:separate;
    //     border-spacing: 0 20px;
    // 	width:100%;
    // 	color:$gray;
    // 	thead{
    // 		th{
    // 			border-bottom:1px solid $gray;
    // 			padding-bottom:10px;
    // 			&:first-child{
    // 				padding-left:20px
    // 			}
    // 			&:last-child{
    // 				padding-right:20px
    // 			}
    // 		}
    // 	}
    // 	tbody{
    // 		td{
    // 			&:first-child{
    // 				padding-left:20px
    // 			}
    // 			&:last-child{
    // 				padding-right:20px
    // 			}
    // 		}
    // 	}
    // }
}

///////questions///////
.width-100 {
    width: 100px;
}

.select-input {
    position: absolute;
    left: 14px;
    right: 14px;
    top: 5px;
    width: 95%;
    font-family: arial, sans-serif;
    background-color: #fff;
    border: none;
}

////backgroundcolor deactive/////
.deactive {
    color: #a7a6a6 !important;
}

////backgroundcolor unban/////
.unban {
    color: #a7a6a6 !important;
}