@import "../../../static/css/main";

/**************** Dashboard ***************/

.display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

button.drop-btn {
    padding: 8px 10px;
    color: #888888;
    span.caret {
        margin-left: 35px;
    }
}

.dash {
    $gray: #888;
    .border-box {
        padding: 15px 20px;
        margin-bottom: 30px;
        position: relative;
        p {
            color: $gray;
        }
        .close-btn {
            @extend .gray-btn;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 25px;
            height: 25px;
            padding: 0;
        }
    }
    .chart-header {
        font-size: 14px;
        .left {
            li {
                float: left;
                margin-right: 15px;
            }
            .dropdown-menu li {
                float: none;
            }
        }
    }
    .news-box {
        .news-header {
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 10px;
            .blue-txt {
                float: right;
                font-size: 14px;
            }
            .h6 {
                float: left;
            }
        }
        .news-list {
            .img-cover {
                width: 120px;
                height: 70px;
            }
            >li {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                padding: 15px 0;
                border-bottom: 1px solid #e4e4e4;
                &:last-child {
                    border-bottom: none;
                }
                p {
                    color: $gray;
                }
                .h6 {
                    padding-bottom: 10px;
                }
                .left {
                    padding-left: 15px;
                    -webkit-box-pack: end;
                    -webkit-justify-content: flex-end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                }
                ul {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    color: $gray;
                    justify-content: initial;
                    padding-top: 10px;
                    li {
                        padding-right: 10px;
                    }
                }
            }
        }
        .user-list {
            .img-cover {
                width: 55px;
                height: 55px;
            }
            >li {
                .h6 {
                    padding-bottom: 0;
                }
                ul {
                    padding-top: 0;
                    li {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    @include viewport(large) {
        .md-flex-row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-flow: inherit;
            justify-content: space-between;
        }
        .news-box {
            flex-basis: 48.8%;
        }
    }
}